[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

UserSettings/

.vs/
.vscode/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

.DS_Store
Thumbs.db

.idea/

Assets/AssetStoreTools*